<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.drift.movie.mapper.ReviewExtMapper">
    <resultMap id="BaseResultMap" type="life.drift.movie.model.Review">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="movie_id" jdbcType="BIGINT" property="movieId"/>
        <result column="is_selected" jdbcType="INTEGER" property="isSelected"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment_count" jdbcType="BIGINT" property="commentCount"/>
        <result column="like_count" jdbcType="BIGINT" property="likeCount"/>
        <result column="review_score" jdbcType="DOUBLE" property="reviewScore"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="life.drift.movie.model.Review">

        <result column="review_content" jdbcType="LONGVARCHAR" property="reviewContent"/>
    </resultMap>

    <!-- 添加影评 -->
    <insert id="insert" parameterType="life.drift.movie.model.Review">
        insert into review (id, user_id, movie_id,
                            is_selected, create_time, update_time,
                            comment_count, like_count, review_score,
                            creator, review_content)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{movieId,jdbcType=BIGINT},
                #{isSelected,jdbcType=INTEGER}, now(), now(),
                #{commentCount,jdbcType=BIGINT}, #{likeCount,jdbcType=BIGINT}, #{reviewScore,jdbcType=DOUBLE},
                #{creator,jdbcType=BIGINT}, #{reviewContent,jdbcType=LONGVARCHAR})
    </insert>

    <!-- 删除我的影评 -->
    <delete id="deleteMyReview" parameterType="java.lang.Long">
        delete
        from review
        where id = #{id,jdbcType=BIGINT}
          and user_id = #{userId,jdbcType=BIGINT}
    </delete>

    <!-- 评论数-->
    <update id="incCommentCount" parameterType="life.drift.movie.model.Review">
        update review
        set comment_count = comment_count + #{commentCount,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 计算评分 -->
    <select id="avgScore" parameterType="java.lang.Long" resultType="Double">
        select format(avg(review_score),1)
        from review
        where movie_id = #{movieId,jdbcType=BIGINT}
    </select>

</mapper>